/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Variables */
:root {
  --head-font: "Montserrat", sans-serif;
  --body-font: "Poppins", sans-serif;
  --dark-color: #1d1d1c;
  --white-color: #ffffff;
  --light-color: #f7f6f6;
  --light-gray-color: #f5f5f4;
  --gray-color: #a8a8a8;
}

/* General */
body {
  font-family: var(--body-font);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: var(--head-font);
}

.heading {
  font-family: var(--head-font);
  font-size: clamp(0.5rem, 10vw, 2.5rem);
  font-weight: 900;
  color: #343434;
  position: relative;
  width: fit-content;
  z-index: 2;
  margin: 0 auto 4rem;
}

.heading::after {
  content: "";
  background-image: url("./assets/imgs/dots.png");
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 30px;
  z-index: -1;
}

section > .container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* End */

/* Table Of Content

01-Navbar Start
02-Home Start
03-About Start
04-Services Start
05-Portfolio Start
06-Testimonial Start
07-Team Start
08-Contact Start
09-Footer Start


*/

/* 01-Navbar Start */
body > header {
  transition: .3s
}

@media (min-width: 992px) {
  header .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.navbar-nav .nav-link {
  position: relative;
  margin-left: 1rem;
}

.navbar-nav .nav-link::after {
  position: absolute;
  content: "";
  bottom: 3px;
  left: 7.5px;
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  transition: width 0.3s;
}

.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link:hover::after {
  width: calc(100% - 15px);
}

.navbar-nav .nav-link.scroll::after {
  background-color: var(--dark-color);
  height: 2px;
}

@media (max-width: 992px) {
  .navbar .container {
    padding: 0;
  }
  .navbar-brand {
    padding-left: 1rem;
  }
  .navbar-toggler {
    filter: invert(100%);
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-nav .nav-link {
    margin: 0.5rem 0;
  }
}

/* Navbar End */

/* 02-Home Section Start */

#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/imgs/bg.jpg");
  background-size: cover;
  background-position: center;
}

#home h2 {
  font-size: 50px;
}

#home p {
  font-size: 60px;
  font-weight: 200;
}

#home p span {
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  #home p span,
  #home p {
    font-size: 40px;
  }
}

.subheading {
  max-width: 15ch;
  text-align: center;
}

.subheading span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
  position: relative;
  text-align: left;
}

.subheading span::after {
  position: absolute;
  content: " ";
  right: 0px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--white-color);
}

.subheading span:first-of-type {
  animation: collapse-1 9s ease infinite;
}

.subheading span:nth-of-type(2) {
  animation: collapse-2 9s ease infinite;
}

.subheading span:last-of-type {
  animation: collapse-3 9s ease infinite;
}

@keyframes collapse-1 {
  0% {
    width: 0%;
  }
  5.555555555555556% {
    width: 10.3ch;
  }
  27.350427350427353% {
    width: 10.3ch;
  }
  33.333333333333336% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}
@keyframes collapse-2 {
  0% {
    width: 0%;
  }
  33.333333333333336% {
    width: 0%;
  }
  38.88888888888889% {
    width: 8.3ch;
  }
  60.49382716049383% {
    width: 8.3ch;
  }
  66.66666666666667% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}
@keyframes collapse-3 {
  0% {
    width: 0%;
  }
  66.66666666666667% {
    width: 0%;
  }
  72.22222222222223% {
    width: 7.3ch;
  }
  93.75% {
    width: 7.3ch;
  }
  100% {
    width: 0%;
  }
}

#home .socials li a i {
  transition: 0.3s;
}
#home .socials li a:hover i {
  background-color: var(--white-color) !important;
  color: #000 !important;
}
/* Home End */

/* 03-About Section Start */
#about .row .img {
  z-index: 1;
}

#about .row .img::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -2vw;
  bottom: -2vw;
  width: 80%;
  height: 80%;
  background-image: url("./assets/imgs/dots.png");
}

.about-info small {
  color: #808b8b;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 1px;
}

.about-info p {
  color: #808b8b;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
}
.about-info .skills .progress {
  height: 28px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1) inset;
  transition: all 0.3s ease-in-out;
}

.about-info .skills .progress .progress-bar {
  background-color: var(--dark-color);
}

.btn {
  transition: 0.3s;
}

#about .buttons .btn:first-child {
  border: 1px solid transparent;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 10px 30px;
}

#about .buttons .btn:first-child:hover {
  background-color: var(--white-color);
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

#about .buttons .btn:last-child {
  border: 1px solid var(--dark-color);
  background-color: var(--white-color);
  color: var(--dark-color);
  padding: 10px 30px;
}

#about .buttons .btn:last-child:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

/* About Section End */

/* 04-Services Section Start */

#services .row .service-box .s-title {
  font-size: 20px;
  color: var(--dark-color);
}

#services .row .service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 80px 15px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--white-color);
  margin-bottom: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: all 0.3s;
}

#services .row .service-box:hover .service-ico {
  color: var(--white-color);
  background-color: var(--dark-color);
}

#services .row .service-box .service-content h2 {
  margin-bottom: 20px;
  font-size: 25px;
  color: var(--dark-color);
}
#services .row .service-box .service-content p {
  color: #808b8b;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 1px;
}

#services .row .service-box .service-ico {
  font-size: 40px;
  margin-bottom: 20px;
  width: 90px;
  height: 90px;
  line-height: 70px;
  background: var(--light-gray-color);
  padding: 15px;
  border-radius: 50%;
  color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

/* Services Section End */

/* 05-Portfolio Section Start */

#works .container .nav-tabs {
  border: none;
}

#works .container ul li button {
  font-weight: 800;
  color: var(--dark-color);
  position: relative;
  text-align: center;
  border: none;
}

#works .container ul li button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s;
}

#works .container ul li button.active {
  background-color: transparent;
}

#works .container ul li button.active::after {
  width: calc(100% - 30px);
}

#works .tab-content > .active {
  display: flex;
}

#works .tab-content .row .col .overlay {
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.4s;
}

#works .tab-content .row .col > div:hover .overlay {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#works .tab-content .row .col > div .overlay h4 {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  transform: translateY(-15px);
  transition: transform 0.5s;
}

#works .tab-content .row .col > div:hover .overlay h4 {
  transform: translateY(0);
}

#works .tab-content .row .col > div .overlay .tools a {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid transparent;
  height: 30px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  transition: 0.3s;
}

#works .tab-content .row .col > div .overlay .tools a:hover {
  border: 1px solid black;
  background-color: #fff;
  color: #000;
}

/* Portfolio Section End */

/* 06-Testimonials Section Start */

#clients .carousel-indicators button {
  border-radius: 50%;
  background-color: #343434;
  width: 10px;
  height: 10px;
}
#clients .carousel-inner {
  padding-bottom: 5rem;
  max-width: 980px;
  margin: 0 auto;
}

/* * 07-Team Section Start */
#team .col .socials {
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  opacity: 0;
  visibility: hidden;
  transform: rotateY(180deg) scale(0.5);
  transition: 0.5s;
}

#team .row .col > div .img {
  overflow: hidden;
}

#team .row .col > div .img img {
  transform: scale(1);
  transition: 0.3s;
}

#team .row .col > div .img:hover img {
  transform: scale(1.2);
}

#team .row .col > div:hover .socials {
  opacity: 1;
  visibility: visible;
  transform: rotateY(0) scale(1);
}

#team .row .col > div .socials a {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid transparent;
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: 0.3s;
}

#team .row .col > div .socials a:hover {
  border: 1px solid black;
  background-color: #fff;
  color: #000;
}

/* * -------------- TEAM END ---------------- */

/* 08-Contact Section Start */
#contact .row .col i {
  transition: 0.3s;
}

#contact .row .col > div:hover i {
  background-color: #000 !important;
  color: #fff;
}

#contact form :is(input, textarea):focus {
  outline: none;
}

#contact form textarea {
  resize: vertical;
}

#contact form button {
  border: 1px solid transparent;
  transition: 0.3s;
  width: fit-content !important;
  margin-left: 0.75rem;
  font-size: 0.85rem;
  padding: 0.65rem 2.5rem;
  color: #fff;
  background-color: #000;
}

#contact form button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
